# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives**:
- Introduction to using Jupter notebook for python
- Use R for data analysis and visualization
- Use GitHub to manage data science projects

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

-------------------
| Data Science Tools |
-------------------
| Jupyter Notebook   |
| R Studio            |
| Apache Spark        |
-------------------

### Below are a few examples of evaluating arithmetic expression in Python.

In [4]:
print((3*4)+5)
#This is a simple arithmetic expression to multiply then add integers

17

In [7]:
min  = 200
print(min/60)
# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

## Author: 
Nalesi Segale